body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.title{
  font-weight: 770;
  font-size: 16.5px;
}

.desc{
  font-size: 90%;
}

.parent{
  
  display: grid;
  grid-template-columns: 25.5% 25.5% 25.5%;
  /* grid-template-columns: 25.5% 25.5% 25.5%; */
  /* align-items: center;
  justify-content: center; */
  
  gap: 8.3vw;
  
  /* align-items: center;
  justify-content: center; */
  /* width: 90%; */
  /* height: ; */
}

.child{
  /* border: 2px solid black; */
  width: 125%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10%;

  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.47);
/* From https://css.glass */
background: rgba(147, 142, 141, 0.15);
border-radius: 10px;
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
backdrop-filter: blur(11.6px);
-webkit-backdrop-filter: blur(11.6px);
}

.image{
  width: 23vw;
  height: 30vh;
  border-radius: 5px;
  object-fit: cover;
}

.data{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 15vw;
  gap: 1vw;
  width: auto;
  
}

.content{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 90%;
  
}

.con{
  display: flex;
  flex-direction: row;
  font-size: 90px;
  /* display: none; */

}
.btn{
  /*  */
  width: 85px;
  /* padding: 3px; */
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.nav{
  height: 12vh;
  padding: 3vh;
}

@media screen and (max-width: 600px) {
  
  .parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .child{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    padding: 4vh;
    gap: 3vh;
    box-shadow: 10px 10px 10px grey;
    /* margin-top: 4vh; */
  }
  .image{
    width: 35vh;
    height: 20vh;
  }
  .main{
    height: 16vw;
    width: 100vw;
  }
  .title{
    font-size: 2vh;
  }
  .content{
    /* font-size: 1.6vh; */
    width: 100%;
    gap: 1vh;
  }
  .data{
    /*  */
    height: auto;
    width: 30vh;
  }
  .con{
    font-size: 1.6vh;

  }
  .heading{
    margin-top: 2vh;
    font-size: 3vh;
  }
  .nav{
    height: 7vh;

  }
  .btn{
    width: 11.5vh;
    height: 5vh;
  }
}

/* 
@media screen and (orientation: landscape)  {
  .parent{
    display: grid;
    grid-template-columns: auto auto;
  }

  .child{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    padding: 4vw;
    gap: 3vw;
    box-shadow: 10px 10px 10px grey;
   
  }
  .image{
    width: 40vw;
    height: 35vh;
  }
  .main{
    height: 16vw;
    width: 100vw;
  }
  .title{
    font-size: 2vw;
  }
  .content{
   
    gap: 1.5vw;
  }
  .data{
    
    height: auto;
    width: 30vh;
  }
  .con{
    font-size: 1.6vh;

  }
  .heading{
   
    font-size: 5vw;
  }
  .nav{
    height: 10vw;

  }
  .btn{
    width: 11vw;
    height: 8vh;
  }
} */
